﻿<style>
     .hero {
         background-image: url("https://wallpapercave.com/wp/wp2403501.png");
         background-size: cover;
         background-position: center;
         color: #EDF4F2;
         height: 70vh;
         display: flex;
         justify-content: flex-start;
         align-items: center;
     }

     .hero-content {
         text-align: start;
     }
</style>

<section class="p-4 bg-warning py-2 bg-light rounded-3 hero container-fluid">
    <div class="container hero-content">
        <h2 class="display-5 fw-bolder">
            Hey There!
        </h2>
        <p class="col-md-8 lead">
            We Have Everything You Want!
        </p>
        <a class="btn btn-lg btn-dark" href="/CustomerProducts/Index">Discover Your Next Must-Have</a>
    </div>
</section>