<section style="display: block; flex-direction: column; height: 100vh; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; gap: 2rem; align-items: center;">
        <img src="/images/undraw_void_-3-ggu.svg" alt="Not Found Image" style="width: 200px; " />
        <h1 style=" height: 100px;">No Matching Results Were Found!</h1>
        <a href="/CustomerProducts/Index" style=" background-color: #ffc107; color: #343a40; border: none; padding: 0.5rem 1rem; border-radius: 0.25rem;">Back to All Products</a>
    </div>
</section>