﻿<style>
     .features {
         margin-top: 10vh;
         text-align: center;
         margin-bottom: 20vh !important;
     }


     .icon {
         font-size: 3rem;
         background-color: transparent;
         color: #f7ab0a;
     }

     .feature-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
     }
</style>


<div class="container-xxl features px-4 mb-5 " id="hanging-icons">
    <h2 class="pb-2 border-bottom text-center">Why us? </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature-container">
            <i class="bi bi-grid-fill icon"></i>
            <div>
                <h2>Wide Variety of Products</h2>
                <p>Explore our diverse range of categories to find exactly what you're looking for!</p>

            </div>
        </div>
        <div class="feature-container">

            <i class="bi bi-tags-fill"></i>
            <div>
                <h2>24/7 Discounts</h2>
                <p> Be the first to know about our exclusive offers and promotions! Don't miss out—sign up now!</p>

            </div>
        </div>
        <div class="feature-container">
            <i class="bi bi-person-raised-hand icon"></i>
            <div>
                <h2>Up-to-data Products</h2>
                <p>Stay up-to-date with our latest deals and discover our top picks of the season</p>
            </div>
        </div>
    </div>
    <a class="btn btn-warning btn-lg px-2 text-white text-center" href="/CustomerProducts/Index">Start Shopping!</a>
</div>