<h3 class="mb-4"> Sort </h3>
    <div class="form-group sort-Options">
        <select name="orderBy" id="orderBy" class="form-control">
            <option value="NameAscending">Alphabetically</option>
            <option value="NameDescending">Reverse Alphabetically</option>
            <option value="PriceAscending">Price : low to high</option>
            <option value="PriceDescending">Price : high to low</option>
        </select>
    </div>
