@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PikaShop.Web.Areas.AdminPanel.ViewModel.UsersAndRoles
<h2>Manage User Roles</h2>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<form asp-controller="SuperAdmin" asp-action="SetUserRole" method="post">
    <div>
        <label>Select User:</label>
        <select asp-for="SelectedUserID" asp-items="@(new SelectList(Model.Users,"Id","UserName"))"></select>
    </div>
    <div>
        <label>Select Role:</label>
        <select asp-for="SelectedUserRole" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>
    </div>
    <button type="submit">Set Role</button>
</form>