@model PikaShop.Admin.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Create";
}

<h4 class="page-title"> Categories</h4>
<hr />
<div class="card">
    <div class="card-header">
        <div class="card-title">Create new category</div>
    </div>
    <div class="card-body">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" asp-items="ViewBag.Departments" class="form-select">
                    <option selected disabled value="0">Select a Department</option>
                </select>
                <span asp-validation-for="DepartmentID" class="text-danger"></span>
            </div>

            <div class="card-action">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
